{% extends "base.html" %} 
{% block content %}

<div class="container-fluid bg-grey">
<h1 class="text-left"> About Us </h1>
<div>
<p class="fst-normal">In our country there are many tools which can be shared by many people. But there is no particular platform to share those tools. It will be helpful as well. There is a huge amount of demand of this type of website in our country. So, we are going to make a tools sharing website.
Our main aim is to make a website by which we can share tools by rent. It is a Django based model. This model will be developed to help people who need tools in case of their requirement. Also for the people who can’t afford to buy tools.</p>
</div>
</div>

<br>

<div class="container-fluid bg-grey">
  <h2 class="text-left">CONTACT</h2>

    <div>
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p class="fw-bold">Address: Framgate, Green Road, Dhaka</p>
      <p class="fw-bold">Phone No:  +01515151515</p>
      <p class="fw-bold">Email: contact@toolstown.com</p>

   
  </div>
</div>

{% endblock %}
